* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  height: 150px;
  background:#41cbed;
  display: flex;
  box-shadow: 0 0 10px 0 #000;
  margin: 10px 0;
}
nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 0 0 #000;
}
nav ul li a:hover {
  color: #f10808;
}
main {
  height: 980px;
  width: 680px;
  color: #e03f0e;
}
article {
  width: 680px;
  background: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 #000;
  background:#7fff00 ;
}
article form {
    color: rgb(5, 8, 1);
    position:static ;
    top:20px;
    left: 150%;
    width: 400px;
    padding: 50px;
}
legend{
    margin:10px;
    width: 280px;
}
article form input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
/* El aside debe estar al costado izquierdo del article y tendrá un ancho y alto
de lo que queda de espacio. */
aside {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#3ceb7f ;
  padding: 20px;
}
aside img {
  width: 600px;
  height: 700px;
}
#contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  height: 980px;
  gap: 10px;
}
footer {
    height: 150px;
    background:#ff7f50 ;
    display: flex;
    box-shadow: 0 0 10px 0 #000;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}